*,*::after,*::before{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-family: 'Spartan', sans-serif;
}
body{
    font-family: 'Spartan', sans-serif;
    padding: 0px 20px;
}
.bg{
    display:flex;
    overflow: hidden;
}
.bg-top{
    display: block;
    position: absolute;
    left: -60px;
    z-index: -2;
    width: 584px;
    height: 362px;
}
.bg-bottom{
    display: block;
    position: absolute;
    top:130px;
    left: 300px;
    z-index: -9;
}
.container{
    display: flex;
    min-height: 400px;
    z-index: 1;
    justify-content: center;
    flex-wrap: wrap;
}
.main{
    max-width: 401px;
    min-width: 400px;
    margin-left: auto;
    margin-right: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-heading{
    position: relative;
    margin-left: auto;
    margin-right: 38px;
    color: hsl(300, 43%, 22%);
    font-size: 43px;
    margin-bottom: 10px;
}
.main-para{
    margin-left: auto;
    margin-right: 38px;
    font-size: 15px;
    font-weight: 400;
    color: hsl(300, 43%, 22%);
}
.ratings{
    margin-right: auto;
    margin-left: 160px;
    max-width: 451px;
    min-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: hsl(300, 43%, 22%);
    font-weight: 600;
    padding-top: 40px;
    flex-wrap: wrap;
}
.rating{
    display: flex;
    justify-content: center;
    margin-right: auto;
    font-size: 12px;
    font-weight: 700;
    padding: 18px;
    margin-bottom: 10px;
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
}
.rating :last-child{
    align-self: center;
    padding-top: 4px;
}
.stars{
    letter-spacing: 3px;
    padding-right: 10px;
}
.rating-2{
    margin-left:15%;
}
.rating-3{
    margin-left:30% ;
    width: 320px;
}
.cards{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.card{
    width: 310px;
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
}
.card1{
    margin: 0px 15px; 
 }
.card2{
    margin: 0px 15px;
    margin-top: 1%;
}
.card3{
    margin: 0px 15px ;
    margin-top: 2%;
}
.buyer-profile{
    display:flex;
    /* height: 50%; */
    padding-top: 40px;
    padding-bottom: 10px;
    width: 100%;
    align-items: center;
}
.buyer-image{
    border-radius:100%;
    height: 30px;
    width: 30px;
    margin-left: 23px;
}
.buyer-intro{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.buyer-name{
    color:hsl(0, 0%, 100%);
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 3px;
}
.buyer-verification{
    color: hsl(333, 80%, 67%);
    font-size: 11px;
    font-weight: 500;
}
.buyer-review{
    width: 85%;
    height: 50%;
    margin: auto;
    color:hsl(0, 0%, 100%);line-height: 16px;
    font-size: 12px;
    font-weight: 300;
}
@media screen and (max-width:1150px){
body{
    background-image: url("./images/bg-pattern-top-mobile.svg"),url("./images/bg-pattern-bottom-mobile.svg");
    background-position: top left,bottom right;
    background-repeat: no-repeat,no-repeat;
}
.bg-bottom,.bg-top,.bg{
    display: none;
}
}
@media screen and (max-width:1060px){
    .container{
        width: 100%;
        margin:0px auto ;
    }
    .main{
        width: 50%;
        margin: 0px auto;
    }
    .ratings{
        width: 50%;
        margin: 0px auto;
    }
    .cards{
        width: 100%;
    }
    .card{
        width: 30%;
    }
}
@media screen and (max-width:940px){
    .container{
        width: 100%;
        padding-top: 30px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .main{
        min-width: 70%;
    }
    .main-heading{
        font-size: 35px;
        width: 100%;
        margin: 0px;
        margin-bottom: 20px;
    }
    .main-para{
        margin: 0px;
        font-size: 14px;
        width:70%;
    }
    .ratings{
        min-width: 100%;
        justify-content: center;
        align-items: center;
        padding: 30px 0px;
    }
    .rating{
        margin: 5px auto;
        width:60%;
        padding:10px 0px;
        flex-direction:column;
        align-items: center;
    }
    .rating span{
        width: 100%;
    }
    .cards{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .card{
        margin: 10px 0px;
        padding: 10px;
        height: 180px;
        width: 60%;
    }
    .buyer-profile{
        margin: 0px;
        padding: 20px 0px;
    }
    .card3{
        margin-bottom: 30px;
    }
}
@media screen and (max-width:600px){
    .card{
        min-height: 200px;
    }
}
@media screen and (max-width:480px){
    .card{
        
        min-height: 220px;
    }
    .buyer-review{
        margin-bottom:20px ;
    }
}